extends show

block content
    img(src="https://habdata.blob.core.windows.net/habdatablob/#{postimg}", width="1000", height="1100" style={"-webkit-user-select":"none", "margin": "auto", "display":"block"})