/* TODO orientation lock */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('ttf');
}


html,body{
  padding: 0;
  margin: 0;
  background-color: black;
}

body {
  font: 2rem "Open Sans", Helvetica, Arial, sans-serif;
}

textarea,
input,
button,
select {
  font-family: inherit !important;
  font-size: inherit;
}

a {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.55rem;
  cursor: pointer;
}

#about a{
  font-size: 2rem;
}

h3{
  letter-spacing: 0.55vmin;
  font-size: 2.2rem;
  font-weight: 300;
}

textarea{
  background-color: black;
  color: white;
  width:98%;
  height: 28vmin;
}

.hidden{
  display: none;
}

#first-formelement{
  z-index: 9999;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

section.frame,
section.smframe{
  width: 100vmin;
  height: 100vmax;
  background-color: black;
  color: white;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 55vmax;
  margin-bottom: -1px;
}

section.smframe{
  height: auto;
}

section.double-frame {
  width: 100vmin;
  height: 200vmax;
  background-color: black;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -1px;
}

section.expos .text-frame{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr 1fr;
    justify-items: center;
}

section#athospitals .text-frame {
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr auto;
}

section#athome .text-frame {
  grid-template-rows: 1.3fr 2fr;
}

section#planet .text-frame {
  grid-template-rows: 1.3fr 1fr 0.6fr;
}

section#us .text-frame {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr 1fr 0.7fr 2rem;
}

section#us .text-frame h3:first-child{
  align-self: flex-start;
}

section#us .text-frame,
section#athome .text-frame,
section#planet .text-frame {
  align-items: end;
}

section#planet .text-frame h3{
  grid-row: 2;
}

section#see{
    background-image: url('../images/flip/H_main06_l.gif');
    background-color: black;
    color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100vmin;
    height: 35vmin;
    width: 100vmin;
}

section#intake{
    
    background-color: black;
    color: white;
    background-position: top center;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 4rem;
}
section#intake form{
      display: grid;
      grid-template-rows: auto auto auto 6vmin;
          grid-template-columns: 0.25fr 1fr 4vh 1fr 0.25fr;
}

section#intake #intakeform{
  height: auto;
  width: 100vmin;
}

section#intake #intakeform .eye{
  background-image: url(../images/L/H_main07.jpg);
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1;
  background-size: 100vmin;
  background-repeat: no-repeat;
  background-position: center top;
  height: 42vmin;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-left: 6vmin;
  padding-right: 6vmin;
}

.eye .lower-portal {
  position: absolute;
  height: 26vmin;
  width: 26vmin;
  border-radius: 29vmin;
  top: 3.6vmin;
  background-size: cover;
  background-repeat: no-repeat;
}
.eye .lower-portal:first-child {
  right: 15.3vmin;
}

.eye .lower-portal:nth-child(2) {
  left: 16.3vmin;
  top: 2.5vmin;
}

section.expos h3 {
  font-weight: normal;
  grid-column: 2;
  text-align: center;
  margin: 0;
  font-size: 4vmin;
  letter-spacing: 0.55vmin;
  max-width: 50vmin;
}

label, input{
  letter-spacing: 0.55vmin;
}

section#planet{
  background-image: url('../images/L/H_main01.jpg');
}

section#athome {
  background-image: url('../images/L/H_main02.jpg');
}

section#athospitals {
  background-image: url('../images/L/H_main03.jpg');
}

section#us {
  background-image: url('../images/L/H_main04.jpg');
}

section#whoarewe {
  background-image: url('../images/L/H_main05.jpg');
  background-position: center bottom;
  background-size: 100vmin;
  height: 125vmax;
}

section#thestreets {
  background-image: url('../images/L/H_main05_0_L.jpg');
}

section#thestreets .text-frame{
  align-items: center;
  grid-template-rows: 15rem 1fr;
}

section#thestreets .text-frame h3{
  grid-row:2;
}

section#output{
  width: 100vmin;
  background-color: black;
}

.post-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 4rem;
}
/* Flip Stuff https://stackoverflow.com/questions/38261931/implementing-flipcard-on-click-instead-of-on-hover */

.flip-container.hover .flipper {
  transform: rotateY(180deg);
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.flip-container.hover .back {
  z-index: 3;
  /* backface-visibility: visible;  */
  /* This is an oddity here. */
}

.flip-container,
.front,
.back,
.nonflip {
  width: 33vw;
  height: 33vw;
  position: relative;
}

.flip-container.formportal{
  width: 80vmin;
  height: 80vmin;
}

.flip-container.formportal .back {
  width: 80vmin;
  height: 80vmin;
}
.flip-container.formportal .back span {
  letter-spacing: 0.55vmin;
}


.flip-container.formportal .flipper {
  width: 80vmin;
  height: 80vmin;
}

/* flip speed */
.flipper {
  transition: 0.8s;
  width: 33vw;
  height: 33vw;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid white;
    box-shadow: 4px 3px 10px 0px #fff;
}

/* front pane, placed above back */
.front, .nonflip {
  z-index: 2;
  transform: rotateY(0deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nonflip{
    border-radius: 50%;
    border: 1px solid white;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 0;
  font-size: 1.5rem;
  text-align: center;
}

/* Spinner */
#spinner{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
    align-items: center;
    justify-content: center;
  background-color: rgba(255,255,255,0.12);
  z-index: 999;
}

.spinnerimage,
#awaitshareable {
  background-image: url('../images/24.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 4rem;
  width: 4rem;
}

#awaitshareable{
  background-color: black;
  border-radius: 8rem;
  background-size: 56%;
  margin: auto;
}

.upload-btn label{
  text-align: center;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

input[type="text"]{
  border: none;
  background-color: black;
  border-bottom: 2px solid white;
  font-size: 2rem;
  color: white;
  -webkit-appearance: none;
  font-family: 'Open Sans', sans-serif;
}

section#intake form input[type="submit"] {
  grid-column-start: 1;
  grid-column-end: 4;
}

#submitwrapper{
  grid-row: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  width: 28vmin;
  justify-self: center;
  display: none;
}

#notes_panel a{
  display: block;
  color: white;
  padding: 0.5rem;
  border: 1px solid white;
}

#notes_panel .patchnotes{
  background: white;
  color: #1d4661;
  font-size: 1.3rem;
  padding: 1rem;
}

.fillscreen{
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: white;
  height: 100%;
  width: 100%;
}

#renderer.fillscreen .aligner{
    display: flex;
    flex-flow: column;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
}

.fillscreen .aligner{
  display: flex;
  flex-flow: column;

  margin: auto;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.fillscreen .rendernote{
  position: absolute;
  max-width: 40vmin;
}

.fillscreen.shown{
  display: block;
}

#sentalert{
  z-index: 100000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#sentalert .round-frame{
  border: 1px solid white;
  background-color: black;
  width: 40vmin;
  height: 40vmin;
  padding: 5rem;
  border-radius: 50vmin;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.rendernote mark{
  margin: 0;
  line-height: 2rem;
  letter-spacing: 0.55vmin;
  background-color: black;
  color: white;
  line-height: 4rem;
}

#first_note_render {
    top: 2rem;
    left: 4rem;
}

#second_note_render{
  bottom: 7rem;
  text-align: right;
  right: 4rem;
}

.fillscreen .bottom_notes{
  align-self: baseline;
  padding-left: 4rem;
}

#scale-bar{
  background-image:url('../images/UI_svg/scale.png');
  background-size: 120% auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vmin;
  display: none;
}

canvas{
  position: fixed;
  /* width: 100%;
  height: 100%; */
  z-index: 99999;
  top:0;
  left:0;
}

.bottom_container{
  width: 100%;
  border-top: 1px solid grey;
  background-color: #000000;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

/* Form interactivity */

.input-wrapper{
  flex-flow: column nowrap;
  justify-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  opacity: 0.0;
  animation-iteration-count: 1;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.input-wrapper .portal,
.fillscreen .displayportal{
  width: 80vmin;
  height: 80vmin;
  background-image: url('../images/H_close.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

.displayportal:nth-child(2){
  margin-top: -12rem;
}

.fillscreen .displayportal{
    width: 55vmin;
    height: 55vmin;
}

  .input-wrapper .portal#second-portal,
  .fillscreen .displayportal:nth-child(2) {
    background-image: url('../images/H_far.jpg');
    
  }

  .fillscreen .displayportal:nth-child(2){
    mix-blend-mode: multiply;
  }

.input-wrapper .note {
  display: none;
  margin-top: 5rem;
}

.input-wrapper .note input {
  width: 80vmin;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 48px;
}

.exit-btn, .upload-btn{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.flow-btn{
  border: 1px solid white;
  padding: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 2rem;
}

.upload-btn.ok{
  margin-top: 4rem;
}

.exit-icon{
    height: 4rem;
    width: 4rem;
    background-image: url(../images/UI_svg/SVG/exit_cross.svg);
    background-repeat: no-repeat;
}

.cam-icon {
  height: 8rem;
  width: 8rem;
  background-image: url(../images/UI_svg/SVG/camera.svg);
  background-repeat: no-repeat;
  margin: auto;
}

.next-icon {
  height: 8rem;
  width: 8rem;
  background-image: url(../images/UI_svg/SVG/done_yes.svg);
  background-repeat: no-repeat;
  margin: auto;
}

.pinch-icon {
  height: 8rem;
  width: 8rem;
  background-image: url(../images/UI_svg/zoom_finger.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.next,
.ok{
  display: none;
}

.exitform{
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#about .exitform{
  position: fixed;
}

.thankyou{
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.thankyou h3{
  margin-left: 3rem;
  margin-right: 3rem;
}

.topright{
    color: white;
    position: fixed;
    top: 2rem;
    right: 2.7rem;
}

.topright a{
    display: block;
    margin-bottom: 2rem;
}

.topright #burg .icon{
    height: 4rem;
    width: 4rem;
    background-image: url(../images/UI_svg/burger.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    margin: auto;
    transform: rotate(90deg);
}

#skip{
  display: block;
}

#shareable{
  display: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}

#shareable h3{
  opacity: 0.6;
}

#skip .icon,
#burg .icon,
#shareable .floatingshare{
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 8rem;
}

#shareable .floatingshare{
  display: none;
  background-color: black;
  border-color: black;
  background-image: url(../images/UI_svg/share.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center 36%;
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
}

#skip .icon p{
  margin-right: -8px;
}

/* Animations */

.fade-in {
  display:flex !important;
  animation: fadeIn ease 1s forwards;
  -webkit-animation: fadeIn ease 1s forwards;
  -moz-animation: fadeIn ease 1s forwards;
  -o-animation: fadeIn ease 1s forwards;
  -ms-animation: fadeIn ease 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#warning,
#about{
  display: none;
}

#about{
  box-sizing: border-box;
  height: 100vh;
  flex-flow: column nowrap;
  background-color: black;
  overflow-y: scroll;
  color: white;
  padding: 4rem;
}

#about .aligner{
  width: auto;
  margin-right: auto;
  margin-left:auto;
}

#about p, #about p a{
  line-height: 1.8;
  letter-spacing: 0.35vmin;
}

#about h3{
  font-weight: 500;
}

#about form{

}

#about form input{
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 3rem;
  width:98%;
}

#about input[type='submit'] {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: auto;
  margin-top:8rem;
  margin-bottom:8rem;
}

#about hr{
  margin: 3rem;
  margin-left: 0;
  margin-right: 0;
}

#about .menulink{
  margin-top: 3rem;
  font-weight: 500;
}

@media (orientation: landscape) {
    main {
      display: flex;
      flex-flow: column nowrap;
      justify-items: center;
      align-items: center;
    }
  .input-wrapper .portal {
    width: 50vmin;
    height: 50vmin;
    background-image: url('../images/H_close.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
  }
  .flip-container.formportal,
  .flip-container.formportal .flipper {
    width: 50vmin;
    height: 50vmin;
  }

  section#output{
    width: 85vw;
  }
  .flip-container.formportal .back {
    width: 50vmin;
    height: 50vmin;
  }

  .cam-icon {
    height: 3rem;
    width: 3rem;
    background-image: url(../images/UI_svg/SVG/camera.svg);
    background-repeat: no-repeat;
    margin: auto;
  }

  .next-icon {
    height: 3rem;
    width: 3rem;
    background-image: url(../images/UI_svg/SVG/done_yes.svg);
    background-repeat: no-repeat;
    margin: auto;
  }

  .upload-btn.ok {
    margin-top: 1.5rem;
  }

  .input-wrapper .note {
    margin-top: 1rem;
  }
  .exit-btn,
  .upload-btn {
    font-size: 1.2rem;
  }
  .post-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 4rem;
    column-gap: 2rem;
  }

  #warning{
    display: block;
  }
  .bottom_container{
    display: none !important;
  }
  .fillscreen .aligner.render{
    display: flex !important;
  }
  #about .aligner {
    width: 68vmax;
  }
}

.fillscreen .aligner.render .displayportal{
  background-size: 125%;
}

@media only screen and (min-width: 1200px) {
  main {
    background-color: grey;
  }
  section#planet {
    background-image: url('../images/XL/H_main01.jpg');
  }

  section#athome {
    background-image: url('../images/XL/H_main02.jpg');
  }

  section#athospitals {
    background-image: url('../images/XL/H_main03.jpg');
  }

  section#us {
    background-image: url('../images/XL/H_main04.jpg');
  }

  section#whoarewe {
    background-image: url('../images/XL/H_main05.jpg');
  }

  section#thestreets {
    background-image: url('../images/XL/H_main05_0_L.jpg');
  }

  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 2rem;
    font-family: "Open Sans";
  }
}

@media only screen and (min-width: 1450px) {

  .flip-container,
  .front,
  .back,
  .nonflip {
    width: 20vw;
    height: 20vw;
    /* position: relative; */
  }

  .flipper {
    transition: 0.8s;
    width: 20vw;
    height: 20vw;
    transform-style: preserve-3d;
    position: relative;
  }

  section#output {
    width: 100vmin;
  }
}