/* TODO orientation lock */

html,body{
  padding: 0;
  margin: 0;
  background-color: black;
}

body {
  font: 2rem "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.55rem;
  cursor: pointer;
}

h3{
  letter-spacing: 0.55vmin;
  font-size: 2.2rem;
  font-weight: 300;
}

.hidden{
  display: none;
}

#first-formelement{
  z-index: 9999;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

section.frame,
section.smframe{
  width: 100vmin;
  height: 100vmax;
  background-color: black;
  color: white;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 55vmax;
  margin-bottom: -1px;
}

section.smframe{
  height: auto;
}

section.double-frame {
  width: 100vmin;
  height: 200vmax;
  background-color: black;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -1px;
}

section.expos .text-frame{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr 1fr;
    justify-items: center;
}

section#athospitals .text-frame {
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr auto;
}

section#athome .text-frame {
  grid-template-rows: 1.3fr 2fr;
}

section#planet .text-frame {
  grid-template-rows: 1.3fr 1fr 0.6fr;
}

section#us .text-frame {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr 1fr 0.7fr 2rem;
}

section#us .text-frame h3:first-child{
  align-self: flex-start;
}

section#us .text-frame,
section#athome .text-frame,
section#planet .text-frame {
  align-items: end;
}

section#see{
    background-image: url('../images/flip/H_main06_l.gif');
    background-color: black;
    color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100vmin;
    height: 35vmin;
    width: 100vmin;
}

section#intake{
    
    background-color: black;
    color: white;
    background-position: top center;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 4rem;
}
section#intake form{
      display: grid;
      grid-template-rows: auto auto auto 6vmin;
          grid-template-columns: 0.25fr 1fr 4vh 1fr 0.25fr;
}

section#intake #intakeform{
  height: auto;
  width: 100vmin;
}

section#intake #intakeform .eye{
  background-image: url(../images/L/H_main07.jpg);
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1;
  background-size: 100vmin;
  background-repeat: no-repeat;
  background-position: center top;
  height: 42vmin;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-left: 6vmin;
  padding-right: 6vmin;
}

.eye .lower-portal {
  position: absolute;
  height: 26vmin;
  width: 26vmin;
  border-radius: 29vmin;
  top: 3.6vmin;
  background-size: cover;
  background-repeat: no-repeat;
}
.eye .lower-portal:first-child {
  right: 15.3vmin;
}

.eye .lower-portal:nth-child(2) {
  left: 16.3vmin;
  top: 2.5vmin;
}

section.expos h3 {
  font-weight: normal;
  grid-column: 2;
  text-align: center;
  margin: 0;
  font-size: 4vmin;
  letter-spacing: 0.55vmin;
  max-width: 50vmin;
}

label, input{
  letter-spacing: 0.55vmin;
}

section#planet{
  background-image: url('../images/L/H_main01.jpg');
}

section#athome {
  background-image: url('../images/L/H_main02.jpg');
}

section#athospitals {
  background-image: url('../images/L/H_main03.jpg');
}

section#us {
  background-image: url('../images/L/H_main04.jpg');
}

section#whoarewe {
  background-image: url('../images/L/H_main05.jpg');
  background-position: center bottom;
  background-size: 100vmin;
}

section#output{
  width: 100vmin;
  background-color: black;
}

.post-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 4rem;
}
/* Flip Stuff https://stackoverflow.com/questions/38261931/implementing-flipcard-on-click-instead-of-on-hover */

.flip-container.hover .flipper {
  transform: rotateY(180deg);
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.flip-container.hover .back {
  z-index: 3;
}

.flip-container,
.front,
.back,
.nonflip {
  width: 33vw;
  height: 33vw;
  position: relative;
}

.flip-container.formportal{
  width: 80vmin;
  height: 80vmin;
}

.flip-container.formportal .back {
  width: 80vmin;
  height: 80vmin;
}
.flip-container.formportal .back span {
  letter-spacing: 0.55vmin;
}


.flip-container.formportal .flipper {
  width: 80vmin;
  height: 80vmin;
}

/* flip speed */
.flipper {
  transition: 0.8s;
  width: 33vw;
  height: 33vw;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid white;
    box-shadow: 4px 3px 10px 0px #fff;
}

/* front pane, placed above back */
.front, .nonflip {
  z-index: 2;
  transform: rotateY(0deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nonflip{
    border-radius: 50%;
    border: 1px solid white;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 0;
  font-size: 1.5rem;
  text-align: center;
}

/* Spinner */
#spinner{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
    align-items: center;
    justify-content: center;
  background-color: rgba(255,255,255,0.12);
  z-index: 999;
}

.spinnerimage{
  background-image: url('../images/24.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 4rem;
  width: 4rem;
}

.upload-btn label{
  text-align: center;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

input[type="text"]{
  border: none;
  background-color: black;
  border-bottom: 2px solid white;
  font-size: 2rem;
  color: white;
  -webkit-appearance: none;
  font-family: 'Open Sans';
}

section#intake form input[type="submit"] {
  grid-column-start: 1;
  grid-column-end: 4;
}

#submitwrapper{
  grid-row: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  width: 28vmin;
  justify-self: center;
  display: none;
}

#notes_panel a{
  display: block;
  color: white;
  padding: 0.5rem;
  border: 1px solid white;
}

#notes_panel .patchnotes{
  background: white;
  color: #1d4661;
  font-size: 1.3rem;
  padding: 1rem;
}

@media (orientation: landscape) {
  main{
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    background-color: grey;
  }
}

@media only screen and (min-width: 1450px) {
  .flip-container,
  .front,
  .back,
  .nonflip {
    width: 20vw;
    height: 20vw;
    position: relative;
  }

  .flipper {
    transition: 0.8s;
    width: 20vw;
    height: 20vw;
    transform-style: preserve-3d;
    position: relative;
  }
}

/* Form interactivity */

.input-wrapper{
  flex-flow: column nowrap;
  justify-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  opacity: 0.0;
  animation-iteration-count: 1;
  justify-content: center;
  align-items: center;
}

.input-wrapper .portal{
  width: 80vmin;
  height: 80vmin;
  background-image: url('../images/H_close.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

  .input-wrapper .portal#second-portal {
    background-image: url('../images/H_far.jpg');
  }

.input-wrapper .note {
  display: none;
  margin-top: 5rem;
}

.input-wrapper .note input {
  width: 80vmin;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 48px;
}

.exit-btn, .upload-btn{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.flow-btn{
  border: 1px solid white;
  padding: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 2rem;
}

.upload-btn.ok{
  margin-top: 4rem;
}

.exit-icon{
    height: 4rem;
    width: 4rem;
    background-image: url(../images/UI_svg/SVG/exit_cross.svg);
    background-repeat: no-repeat;
}

.cam-icon {
  height: 8rem;
  width: 8rem;
  background-image: url(../images/UI_svg/SVG/camera.svg);
  background-repeat: no-repeat;
  margin: auto;
}

.next-icon {
  height: 8rem;
  width: 8rem;
  background-image: url(../images/UI_svg/SVG/done_yes.svg);
  background-repeat: no-repeat;
  margin: auto;
}

.next,
.ok{
  display: none;
}

.exitform{
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.thankyou{
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 5vmin;
  padding-right: 5vmin;
}

.skipform{
    color: white;
    position: fixed;
    top: 2rem;
    right: 2.7rem;
}

#skip{
  display: block;
}

#skip .icon{
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 8rem;
}

#skip .icon p{
  margin-right: -8px;
}

/* Animations */

.fade-in {
  display:flex !important;
  animation: fadeIn ease 1s forwards;
  -webkit-animation: fadeIn ease 1s forwards;
  -moz-animation: fadeIn ease 1s forwards;
  -o-animation: fadeIn ease 1s forwards;
  -ms-animation: fadeIn ease 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (orientation: landscape) {
  .input-wrapper .portal {
    width: 50vmin;
    height: 50vmin;
    background-image: url('../images/H_close.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
  }
  .flip-container.formportal,
  .flip-container.formportal .flipper {
    width: 50vmin;
    height: 50vmin;
  }

  .flip-container.formportal .back {
    width: 50vmin;
    height: 50vmin;
  }

  .cam-icon {
    height: 3rem;
    width: 3rem;
    background-image: url(../images/UI_svg/SVG/camera.svg);
    background-repeat: no-repeat;
    margin: auto;
  }

  .next-icon {
    height: 3rem;
    width: 3rem;
    background-image: url(../images/UI_svg/SVG/done_yes.svg);
    background-repeat: no-repeat;
    margin: auto;
  }

  .upload-btn.ok {
    margin-top: 1.5rem;
  }

  .input-wrapper .note {
    margin-top: 1rem;
  }
  .exit-btn,
  .upload-btn {
    font-size: 1.2rem;
  }
  .post-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 4rem;
    column-gap: 2rem;
  }
}
